# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
storybook-static
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
.npmrc

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
